body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Mountains of Christmas", serif;
    user-select: none;
    -webkit-user-select: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --nollick-bane: #eee;
    --nollick-doo: #333;
    --traa-rollagyn: .6s;
}

#calendar-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100dvh;
    aspect-ratio: 9 / 16;
    flex: 0 0 auto;
    background-image: url("caslyssyn/santa_graphic.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: start;
    align-items: center;
    padding: 2rem 1.5rem;
    gap: .5rem;
    color: var(--nollick-bane);
    box-shadow: 0 0 15px 2px #222;
}

#calendar-top {
    grid-column: span 5;
    text-align: center;
    font-size: 2.5rem;
    align-self: start;
}

#calendar-bottom {
    grid-column: 2 / span 3;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#cba {
    font-size: 1.5rem;
}

.calendar-door {
    border: 1px dashed var(--nollick-bane);
    border-right: 1px solid var(--nollick-doo);
    border-left: 1px solid rgba(250, 250, 250, .9);
    outline: 2px solid rgba(250, 250, 250, .9);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: 1.5rem;
    transform-origin: left;
}

#door-24 {
    border-width: 2px 1px 2px 2px;
    border-right: 1px solid var(--nollick-bane);
}

.door-anim {
    animation: door-anim .5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes door-anim {
    0% {transform: scaleX(1) scaleY(1);}
    10% {transform: scaleX(1) scaleY(.95);}
    100% {transform: scaleX(-.1) scaleY(1);}
}

.calendar-door:hover {
    cursor: pointer;
}

.number {
    background-color: var(--nollick-doo);
    border: 1px solid var(--nollick-bane);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    pointer-events: none;
}

.calendar-window {
    width: 95%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: 125% 100%;
    background-position: center;
    transition: background-size .3s ease-in;
    outline: 3px solid var(--nollick-doo);
}

.video-container {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(51, 51, 51, .9);
    transition: .6s ease-in-out;
    z-index: 0;
}

.calendar-video {
    opacity: 1;
    width: 90%;
    height: 90%;
    z-index: 0;
    pointer-events: none;
}

#sg-logo {
    grid-column: 1;
    grid-row: 7;
    width: 80%;
    align-self: end;
    padding-bottom: .5rem;
}

#bng-logo {
    grid-column: 5;
    grid-row: 7;
    width: 80%;
    align-self: end;
    padding-bottom: .25rem;
}

#star-container {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 100;
}

.star {
    position: absolute;
}

.star-anim-1 {
    animation: star-anim-1 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-1 {
    0% {transform: translate(0, 0) rotate(0);}
    30% {transform: translate(-15px, -50px) rotate(60deg);}
    100% {transform: translate(-30px, 50px) rotate(120deg);}
}

.star-anim-2 {
    animation: star-anim-2 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-2 {
    0% {transform: translate(0, 0) rotate(0);}
    30% {transform: translate(-30px, -55px) rotate(70deg);}
    100% {transform: translate(-40px, 50px) rotate(140deg);}
}

.star-anim-3 {
    animation: star-anim-3 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-3 {
    0% {transform: translate(0, 0) rotate(0);}
    30% {transform: translate(-45px, -60px) rotate(80deg);}
    100% {transform: translate(-55px, 50px) rotate(160deg);}
}

.star-anim-4 {
    animation: star-anim-4 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-4 {
    0% {transform: translate(0, 0)  rotate(0);}
    30% {transform: translate(15px, -50px) rotate(60deg);}
    100% {transform: translate(30px, 50px) rotate(120deg);}
}

.star-anim-5 {
    animation: star-anim-5 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-5 {
    0% {transform: translate(0, 0) rotate(0);}
    30% {transform: translate(30px, -55px) rotate(70deg);}
    100% {transform: translate(40px, 50px) rotate(140deg);}
}

.star-anim-6 {
    animation: star-anim-6 var(--traa-rollagyn) ease-out;
}

@keyframes star-anim-6 {
    0% {transform: translate(0, 0) rotate(0);}
    30% {transform: translate(45px, -60px) rotate(80deg);}
    100% {transform: translate(55px, 50px) rotate(160deg);}
}
